name: Hello world
on:
 push:
   branches:
     - main
     - develop
pull_request:
   branches:
     - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Hello Step
        run: |
            echo "hello simon "
            echo "How have you been"
  
